#products-section {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    @media screen and (max-width: 414px) {
        padding: 0 1.5rem;
    }
}

.product-section-item {
    min-width: 20%;
    margin: 10px;
    flex-grow: 1;
    @media all and (max-width: 414px) {
        min-width: 100%;
    }
    @media all and (max-width: 824px) and (orientation: landscape) {
        max-width: 45%;
    }
}