#products-section {
    max-width: 100%;
    min-height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    @media screen and (max-width: 480px) {
        padding: 0;
    }
    @media screen and (min-width: 1025px) {
        padding: 1rem;
    }
}

.product-section-item {
    min-width: 20%;
    margin: 10px;
    flex-grow: 0;
    @media all and (max-width: 414px) {
        min-width: 100%;
    }
    @media all and (max-width: 824px) {
        max-width: 45%;
    }
    @media all and (min-width: 1024px) {
        max-width: 30%;
    }
}