#products-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-section-item {
    min-width: 20%;
    margin: 10px;
    flex-grow: 1;
    @media all and (max-width: 414px) {
        min-width: 100%;
    }
    @media all and (max-width: 824px) and (orientation: landscape) {
        min-width: 30%;
    }
}