.google-map {
    width: 65% !important;
    height: 65% !important;
    left: 17.5%;
    top: 20.5%;
    border: 5px solid rgba(101,55,148,1);
    border-radius: 5px;

    @media screen and (max-width: 320px) {
      width: 90% !important;
      height: 60% !important;
      left: 5%;
      top: 175px;
    }

    @media screen and (min-width: 321px) and (max-width: 580px) {
      width: 90% !important;
      height: 65vh !important;
      left: 5%;
      top: 150px;
    }
    @media screen and (max-width: 823px) and (orientation: landscape) {
      height: 60% !important;
      width: 95% !important;
      left: 2.5%;
      top: 30%;
    }
    @media screen and (max-width: 1024px) and (orientation: landscape) {
      height: 75% !important;
      width: 95% !important;
      left: 2.5%;
      top: 20%;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
      width: 90% !important;
      left: 5%;
      top: 20%;
      height: 70% !important;
    }
}