#categories-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1.5rem;
  @media screen and (max-width: 460px) {
    padding: 0;
  }
}

.widget-card {
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.02);
  }
}

.categories-widget {
  width: 22%;
  margin: 10px;
  @media screen and (min-width: 581px) and (max-width: 830px) {
    width: 45%;
  }
  @media screen and (max-width: 580px) {
    width: 100%;
  }
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    width: 45%;
  }
}
