.breadcrumb-section {
  padding: 1rem;
  @media screen and (max-width: 480px) {
    padding: 0;
    margin-top: -20px;
  }
  @media screen and (min-width: 1025px) {
    padding-bottom: 0;
  }
}

.order-button {
  @media screen and (max-width: 768px) {
    display: none !important;
  }
  &:hover {
    background-color: rgba(101,55,148,1) !important;
    color: whitesmoke !important;
  }
}

.page-icon {
  @media screen and (min-width: 769px) {
    display: none;
  }
}

.breadcrumb li {
  @media screen and (max-width: 768px) {
    width: 50%;
  }
}

.columns.is-mobile {
  align-items: center;
}
