.breadcrumb-section {
  padding: 1rem;
  @media screen and (max-width: 480px) {
    margin-top: -20px;
    padding: 0 .5rem;
  }
  @media screen and (min-width: 1025px) {
    padding-bottom: 0;
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    padding: 2rem 2rem 0;
  }
}

.order-button {
  @media screen and (max-width: 580px) {
    display: none !important;
  }
  &:hover {
    background-color: rgba(101,55,148,1) !important;
  }
}

.level-icon {
  @media screen and (min-width: 768px) {
    display: none;
  }
}