#burger-container {
  margin-right: 10px;
  margin-top: 10px;
  @media screen and (min-width: 415px) {
    margin-right: 25px;
    margin-top: 5px;
  }
}

.button {
    &:hover {
      background-color: black !important;
      span {
        color: whitesmoke !important;
      }
    }
    &:active {
      background-color: black !important;
      span {
        color: whitesmoke !important;
      }
    }
    &:focus {
      background-color: black !important;
      span {
        color: whitesmoke !important;
      }
    }
}

.navbar {
  z-index: 200 !important;
}