@import "~bulma/sass/utilities/initial-variables";

$main-purple: #663399;
$main-background: #000;
$main-text: #fff;

$primary: $main-purple;
$navbar-background-color: $main-purple;
$footer-background-color: $main-purple;

$navbar-tab-hover-border-bottom-color: $main-purple;

$background: $main-background;
$body-color: $main-text;

@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/_all";
@import "~bulma/sass/components/navbar";
@import "~bulma/sass/layout/footer";
@import "~bulma/sass/components/level";
@import "~bulma/sass/components/menu";
@import "~bulma/sass/elements/button";