@import "~bulma/sass/utilities/initial-variables";

$main-purple: #663399;

$primary: $main-purple;
$navbar-background-color: $main-purple;
$footer-background-color: $main-purple;

@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/_all";
@import "~bulma/sass/components/navbar";
@import "~bulma/sass/layout/footer";
@import "~bulma/sass/elements/button";