@import "~bulma/sass/utilities/initial-variables";

$main-purple: rgba(101,55,148,1);
$main-background: #000;
$main-text: #fff;
$secondary-purple: #776587;

$primary: $main-purple;
$navbar-background-color: $main-purple;
$footer-background-color: $main-purple;
$navbar-tab-hover-border-bottom-color: $main-purple;
$background: $main-background;
$body-color: $main-text;
$link: $secondary-purple;
$panel-item-border: none;
$dropdown-item-active-background-color: $main-purple;

@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/_all";
@import "~bulma/sass/components/navbar";
@import "~bulma/sass/layout/footer";
@import "~bulma/sass/layout/section";
@import "~bulma/sass/components/level";
@import "~bulma/sass/components/menu";
@import "~bulma/sass/components/panel";
@import "~bulma/sass/elements/button";
@import "~bulma/sass/elements/box";
@import "~bulma/sass/elements/container";
@import "~bulma/sass/grid/columns";