#wrapper {
  cursor: pointer;
  min-width: 150px;
  @media screen and (max-width: 480px) {
    min-width: 0px;
  }
}

#header-title {
  color: white !important;
  &:hover {
    color: #663399 !important;
  }
  min-width: 150px;
  @media screen and (max-width: 480px) {
    min-width: 0px;
  }
}

#dropdown-list {
  position: absolute;
}

.dropdown-list-item {
  color: white !important;
  background: rgba(101, 55, 148, .9);
  &:hover {
    color: #663399 !important;
  }
  min-width: 150px;
}

.navbar-link:hover:after {
  border-color: #663399 !important;
}
