@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

.slider-item {
  margin: 10px auto;
  width: 60%;
  @media screen and (max-width: 480px) {
    width: 100%;
  }
}

.slick-slide.slick-active {
  background-image: url('../images/arch.png');
  background-size: cover;
  background-position: top -100px left 0;
  @media screen and (max-width: 1024px) {
    background-position: top -80px left 0;
  }
  @media screen and (max-width: 767px) {
    background: black;
  }
}
