@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

.slick-list {
  @media screen and (min-width: 1024px) {
    margin-top: 100px;
  }
}

.slider-item {
  margin: 0px auto;
  width: 60%;
  @media screen and (max-width: 480px) {
    width: 100%;
    padding: 10px 15px;
    margin: 0;
  }
  @media screen and (min-width: 1024px) {
    margin: 30px auto;
  }
}

.slick-slide.slick-active {
  background-image: url('../images/arch.png');
  background-size: cover;
  background-position: top -75px left 0;
  @media screen and (max-width: 1024px) {
    background-position: top -80px left 0;
  }
  @media screen and (max-width: 767px) {
    background: black;
  }
}

.outer-slider {
  @media screen and (max-width: 480px) {
    height: 80vh;
    .slick-prev {
      left: -10px;
    }
    .slick-next {
      right: -10px;
    }
    .slick-list,
    .slick-track {
      height: 80vh;
    }
    .slick-slide {
     
    }
  }
}
