#main-footer {
  padding: 1.5rem;
}

.address-item {
  flex-direction: column;
}

@media screen and (max-width: 320px) {
  .level-item {
    width: 270px;
    a, div {
      width: 100%;
    }
  }
}

@media screen and (min-width: 321px) and (max-width: 360px) {
  .level-item {
    width: 310px;
    a, div {
      width: 100%;
    }
  }
}

@media screen and (min-width: 361px) and (max-width: 411px) {
  .level-item {
    width: 330px;
    a, div {
      width: 100%;
    }
  }
}

@media screen and (min-width: 412px) and (max-width: 480px) {
  .level-item {
    width: 360px;
    a, div {
      width: 100%;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .level-item > div, a {
    width: 380px;
    a {
      width: 100%;
    }
    #email-container {
      width: 100%;
      a {
        width: 100%;
      }
    }
  }
}