#burger-icon-svg {
  width: 60px;
  height: 60px;
  @media screen and (min-width: 415px) {
    width: 80px;
    height: 80px;
  }
}

#burger-icon-topbar {
  stroke-width: 20;
  stroke-linecap: round;
  stroke: #fff;
  fill: none;
  transition: all 0.5s ease-in-out;
  stroke-dasharray: 240px 910px;
}

#burger-icon-middlebar {
  stroke-width: 20;
  stroke-linecap: round;
  stroke: #fff;
  fill: none;
  transition: all 0.5s ease-in-out;
}

#burger-icon-bottombar {
  stroke-width: 20;
  stroke-linecap: round;
  stroke: #fff;
  fill: none;
  transition: all 0.5s ease-in-out;
  stroke-dasharray: 240px 910px;
}
